extends layout

block content

	.buttons
			a(href="/countries")
				button(type="button") View all Countries
			.divider
			a(href="/download")
				button(type="button") Download all Countries as CSV
