extends ../layout

block content
    a(href="/")
        button(type="button") Go Back
    h1.
         #{title}
    table
        tr
            th Country
            th Country Code
        - each country, i in countries
            tr
                td #{country.countryName}
                td #{country.countryCode}
