extends ../layout

block content
    h1.
         #{title}
    table
        tr
            th Country
            th Country Code
            th Flag
        - each country, i in countries
            tr
                td #{country.countryName}
                td #{country.countryCode}
                td #{country.flagURL}
                