extends ../layout

block content
	h1.
		#{title}
	form#formAddCountry(name="addcountry",method="post",action="/countries")
		p Country Name: 
			input#inputName(type="text", placeholder="Canada", name="countryName")
		p Badge:
			input#inputBadge(type="text", placeholder="CA", name="countryCode")
		p DOB: 
			input#inputDob(type="text", name="flagURL")
		p
			button#btnSubmit(type="submit") submit